.card {
    width: 300px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #f5dde1;
}

.product,
    .description {
     backface-visibility: hidden;
     transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
     top: 0;
    text-align: center;
    background-color: #fff;
}

.description a {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #f5dde1;
}

.description {
 box-sizing: border-box;
 padding: 40px;
 transform: rotateY(
   180deg
 );
}

.card:hover .product {
 transform: rotateY(180deg);
}
.card:hover .description {
 transform: rotateY(360deg);
}
